<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
	<listeners>
		<listener class-name = "com.qa.listeners.TestListener"/>
	</listeners>
	
  <test name="AndoirdEmulator">
  	<parameter name="emulator" value = "true"/>
  	<parameter name="platformName" value = "Android"/>
	<parameter name="platformVersion" value = "11.0"/>
	<parameter name="udid" value = "emulator-5554"/>	
	<parameter name="deviceName" value = "pixel_4"/>
	<parameter name="systemPort" value = "10000"/>	
		<parameter name="chromeDriverPort" value = "11000"/>	
	
	<classes>
      <class name="com.qa.tests.LoginTests">
		<methods>
			<include name = "invalidUserName"/>
		</methods>
		</class>
		
    </classes>
  </test> <!-- Test -->

  	<!--
   <test name="AndoirdDevice">
  	<parameter name="emulator" value = "false"/>
  	<parameter name="platformName" value = "Android"/>
	<parameter name="platformVersion" value = "13.0"/>
	<parameter name="udid" value = "18271FDF600CNS"/>	
	<parameter name="deviceName" value = "pixel"/>
	<parameter name="systemPort" value = "10001"/>	
		<parameter name="chromeDriverPort" value = "11001"/>	
	
	<classes>
      <class name="com.qa.tests.LoginTests">
		<methods>
			<include name = "successfulLogin"/>
		</methods>
		</class>
		
    </classes>
  </test> 
  	-->
</suite> <!-- Suite -->
